.mollie_payment_btn{
    background-color: #d4e9de !important;
}
.mollie_refund_btn {
    background-color: #eedada !important;
}
.mollie_chargeback_btn {
    background-color: #eedada !important;
}
.mollie_capture_btn {
    color: #2196F3 !important;
    background-color: #d7e9fd !important;
}

.mollie_capture_btn, .mollie_payment_btn, .mollie_refund_btn, .mollie_chargeback_btn {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    &::before {
        font-family: "FontAwesome";
        content: "\f05a";
    }
}