div.o_mollie_issuer_container{
    label.o_mollie_issuer {
        cursor: pointer;
        i.fa {
            color: gray('400');
        }
        &.active {
            i.fa {
                color: theme-color('primary');
            }
        }
    }
    .payment_icon_list {
        @include o-position-absolute($top: 4px, $left: auto, $bottom: auto, $right: 4px);
    }
}